.faq-section {
    margin: 10px 0;
    padding: 10px 0;
    font-family: "Poppins", sans-serif
    
}

.faq-question {
    padding: 10px;
    transition: background-color 0.4s;
    color: #ffc107;
    font-weight: bold;
    border-radius: 16px;
    font-size: 20px; 
}

.faq-question:hover {
    color: #ffc107;
    padding: 5px;
    cursor: pointer;  
}
