h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55pt;
    color: #3B2D2D;
}

h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25pt;
    color: #3B2D2D;
    text-transform: uppercase;
}

p {
    color: #3B2D2D;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}