.App {
    text-align: center;
    padding: 30px;
  }
  
  .custom-vertical-line {
    height: 50%; /* Ajusta la altura de la línea según tus necesidades */
    width: 5px; /* Ajusta el grosor de la línea */
    background-color: #3B2D2D; /* Cambia el color según tus necesidades */
    margin: 0 auto; /* Centra la línea verticalmente en el contenedor */
    position: absolute; /* Para posicionarla correctamente */
    left: 50%; /* Centrala en la mitad del contenedor */
    transform: translateX(-50%);
  }