body{
      background-image: url("https://i.imgur.com/44TwgOi.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
  }
  
  /* Sumar este css a las vistas de Cata, Gerald, Iris y Almendra */