fondoregion {
  background-color: #EEEEEE;
}

#contieneImg {
  position: relative;
  height: 450px;
  /* Ajusta la altura según sea necesario */
}

#regionEco {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fondoRegion {
  background-color: #EEEEEE
}

.pestaniasRegion {
  padding-top: 130px;
}

#contenedor {
  position: relative;
  height: 500px;
  /* Ajusta la altura según sea necesario */
}

#imgMapa {
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pestanias {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; 
}