
/* propiedades tarjetas */
.card {
    
    max-width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.circle-img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
    margin: 0 auto 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle-img img {
    width: 100%;
    height: auto;
    display: block;  
}

.btn-success {
    border-radius: 8px;
    background-color: #79BF67;
}

.btn-light {
    font-size: 15pt;
    padding: 10px 50px; 
    /* margin-right: 20px; */
   margin-bottom: 30px;
    /* margin-left: 60px;  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 


/* fondo */
body{
    background-color: #EEEEEE;
    background-image: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZJpfYwV1QcvL7kC_M1QRc0uTwWnCqw5b2wCTX11KkjPIhfwAtSsPkH3m5nss5MdlQK9gAbat050Sjx3yP8MIWzhYBaP8fKsDc=w1920-h919-rw-v1");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


